<div class="list">
  <div class="list-header">
    <h3 class="list-title">{{ listName }}</h3>
  </div>
  <div class="list-divider"></div>
  <div class="list-cards">
    <app-card
      *ngFor="let card of cards"
      [card]="card"
      (onClick)="openEditForm($event)"
    ></app-card>
  </div>
  <app-card-form
    *ngIf="showCardForm"
    [card]="editingCard"
    (onSave)="saveCard($event)"
    (onCancel)="closeForm()"
  ></app-card-form>
  <button *ngIf="!showCardForm" class="add-card-btn" (click)="openCreateForm()">+</button>
</div>
