.board-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 3.5rem);
}

.board-header {
  padding: 0;
  background-color: #232731;
  border-top: 1px solid #2d3748;
}

.board-title {
  margin: 1rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: #e2e8f0;
}

.board {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  justify-content: flex-start;
  align-items: stretch;
  padding: 1rem;
  flex: 1;
}

.add-list-btn {
  flex: 0 0 17.5rem;
  width: 17.5rem;
  align-self: flex-start;
  min-height: 3.1rem;
  background-color:  transparent;
  border: 0.125rem dashed #8d9cb6;
  border-radius: 0.5rem;
  color: #e49c3f;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s;
}

.add-list-btn:hover {
  background-color: #e29531;
  border-style: solid;
  color: #e2e8f0;
  border-color: #e29531;
}
